@import '@/themes/mixin.module.less';

.section {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.sectionEdit {
  outline: 1px dashed @color-blue;
  outline-offset: -1px;
}

.configBtn {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: @z-toolbar;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
