@import '@/themes/mixin.module.less';

.toolbar {
  height: 44px;
  .flex-row();
  padding: 0 16px;
  gap: 12px;
  border-bottom: 1px solid @border-dark;
  flex-shrink: 0;
}

.toolbarTitle {
  font-weight: 600;
  color: @color-white;
  font-size: 14px;
}

.toolbarSpacer {
  flex: 1;
}
