@import './themes/mixin.module.less';

.app {
  .fill();
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background: @app-bg;
}

.canvas {
  flex: 1;
  overflow: hidden;
  position: relative;
}
